.taskCategory {
  margin: 10px;
  width: 300px;

  .panel {
    margin-bottom: 3px;
  }
  .panel-primary {
    border-color: #f0d7d2;
  }
  .panel-heading {
    background-color: #f0d7d2;
    border-color: #f0d7d2;
    .taskList-head {
      display: flex;
      .Icon {
        color: rgb(151, 151, 151);
        &:hover {
          color: rgb(53, 53, 53);
          cursor: pointer;
        }
      }
      .head-title {
        flex: 7;
        color: #4f5558;
        font-weight: bold;
        i {
          display: none;
        }
        &:hover i {
          display: inline;
        }
        .newTaskListName {
          width: 200px;
          border: none;
        border-radius: 3px;
        }
      }
      .head-insertBtn {
        flex: 1;
        text-align: right;
      }
      .head-deleteBtn {
        flex: 1;
        text-align: right;
      }
    }
  }
  .taskInsertArea {
    background-color: #f0d7d2;

    .taskInsertForm {
      padding: 0px 5px 0px 7px;
      .textArea {
        padding: 10px;
        resize: none;
        border: none;
        border-radius: 5px;
      }
    }
    .taskInsertBtn {
      padding: 0px 1px 5px 180px;

      .btn {
        width: 50px;
        padding: 3px 0 3px 0;
        &:hover {
          // background-color: rgb(197, 197, 197);
          background-color: #F0B2B9;
          color: white;
        }
      }
      .cancel {
      }
      .comfirm {
        margin: 0px 0px 0px 10px;
      }
    }
  }
  .tasks {
    overflow: auto;
    overflow-x: hidden;
    height: 95%;
  }
}
