@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
.taskCategory {
  margin: 10px;
  width: 300px;
  animation: fadein 2s;

  .taskPanel {
    margin-bottom: 0px;
  }
  .panel-primary {
    border-color: #f0d7d2;
    border-radius: 3px 3px 0px 0px;
  }
  .panel-heading {
    background-color: #f0d7d2;
    border-color: #f0d7d2;
    padding: 10px 15px 0px 15px;
    .taskList-head {
      display: flex;
      .edite {
        padding-top: 3px;
      }
      .fa-times{
        padding-left: 15px;
      }
      .Icon {
        color: rgb(151, 151, 151);
        &:hover {
          color: rgb(53, 53, 53);
          cursor: pointer;
        }
      }
      .head-title {
        flex: 7;
        color: #4f5558;
        font-weight: bold;
        i {
          display: inline;
          line-height: 22px;
        }
        &:hover i {
          display: inline;
        }
        .newTaskListName {
          width: 200px;
          border: none;
          border-radius: 3px;
        }
      }
      .head-insertBtn {
        flex: 1;
        text-align: right;
      }
      .head-deleteBtn {
        flex: 1;
        text-align: right;
      }
    }
  }
  .taskInsertArea {
    background-color: #f0d7d2;

    .taskInsertForm {
      padding: 0px 5px 0px 7px;
      .textArea {
        padding: 10px;
        resize: none;
        border: none;
        border-radius: 5px;
      }
    }
    .taskInsertBtn {
      padding: 0px 1px 5px 180px;
      .btn {
        width: 50px;
        padding: 3px 0 3px 0;
        &:hover {
          // background-color: rgb(197, 197, 197);
          background-color: #f0b2b9;
          color: white;
        }
      }
      .comfirm {
        margin: 0px 0px 0px 10px;
      }
    }
  }
  .taskArea {
    height: 95%;
    .test {
      overflow: auto;
      overflow-x: hidden;
      max-height: 95%;
      .tasks {
        min-height: 1px;
        padding: 1px 10px 10px 10px;
        background: #f0d7d2;
        .task {
          margin-top: 10px;
          
          .panel {
            box-shadow: 1px 1px 5px 1px grey;
            margin-bottom: 0px;
            animation: fadein 2s;
          }
        }
      }
    }
    .completeTasks {  
      padding: 3px 10px;
      background:#d1d1d1;
      display: flex;
      justify-content: space-between;
      border-radius: 0px 0px 3px 3px;
      cursor: pointer;
      color: white;
      b{
        text-shadow: 0px 0px 5px gray;
      }
      &:hover{
        background: #b4b8ba; 
        color: #5e5e5e; 
      }
    }
   
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #b4b8ba;
    border-radius: 10px !important;
    background-clip: padding-box;
    border: 1px solid transparent !important;
  }
  ::-webkit-scrollbar-track {
    background-color: #f0d7d2 !important;
    box-shadow: 0px 0px 0px 0px white !important;
  }
}
