.SettingTag{
    float:left;
    vertical-align: middle;
    padding:3px 5px;
    width: 250px;
    float: left;
    margin: 2%;
    cursor: pointer;
    // .fa-square, .fa-check-square{
    //     cursor: pointer;
    // }
    .tagCheck{
        height: 10px;
        margin-left: 5%;
        transform: scale(1.7);
        display: inline-block;
    }
    .tag{
        cursor: pointer;
        height: 25px;
        display: inline-block;
        width:auto;
        background-color: #808080;
        border-radius: 10px;
        color:white;
        padding:1%;
        margin-left: 5%;
    }
    &:hover{
        border-radius: 2px;
        background-color: #EBEBEB;
        .modify{
            display: block;
            margin-top: 5px;
            margin-right: 5px;
            display: block;
            color:#BEBEBF;
            cursor: pointer;
        }
    }

    .modify{
        float: right;
        margin-top: 5px;
        margin-right: 5px;
        display: none;
    }
}