.App {
  height: 100%;
  .scroll-container {
    height: calc(100%);
    background-size: cover;
    background-position: center;
    margin-left: 62px;
    .kanbanMain {
      height: 100%;
      .content {
        height: 100%;
        .mainArea {
          height: 100%;
        }
      }
    }
  }
}
