.kanbanBoard {
  padding: 20px;
  padding-top: 63px;
  display: block;
  height: 100%;

  .input-group {
    padding-left: 20px;

    .form-control {
      border: 1px solid #2e3238;
      width: 100%;
      height: 32px;
      border-left: 0px;
      outline: none;
    }
    .selectpicker{
      border-radius: 3px 0px 0px 3px;
      border: 1px solid #2e3238;
      width: 100px;
    padding: 0px;
      .option{
        outline: none;
      }
    }
  }
  .taskListArea {
    display: flex;
    height: 100%;
    .taskList {
      display: inline-flex;
      padding-top: 40px;
      height: 100%;
    }
    .taskListAdd {
      position: fixed;
      top: 50px;
      right: 0px;
      .taskListInsertForm {
        margin: 10px;
        width: 300px;
        padding: 12px 15px;
        display: flex;
        background-color: #f0d7d2;
        border-radius: 3px;

        div {
          .textArea {
            width: 200px;
            border: none;
            resize: none;
            border-radius: 3px;
          }
        }
        .taskListInsertBtn {
          padding-left: 10px;
          .Icon {
            margin-left: 15px;
            color: #979797;
            &:hover {
              color: rgb(53, 53, 53);
              cursor: pointer;
            }
          }
        }
      }
      .addTaskListBtn {
        width: 300px;
        height: 40px;
        margin: 12px 10px 0px 10px;
      }
    }
  }
}
