.App {
  height: 100%;
  .kanban {
    height: 100%;
    #projectSetArea{
      position: absolute;
      right: 0px;
      display: block;
      z-index: 3;
  
    }
    .topBar {
      margin-left: 62px;
    }
    #projectSetArea {
      #projectHeader {
        top: 52px;
      }
      .ProjectSet {
        position: fixed;
        top: 172px;
        height: calc(100% - 172px);
      }
    }

    .scroll-container {
      height: calc(100%);
      margin-left: 62px;
      .kanbanMain {
        height: 100%;
        .content {
          height: 100%;
          .mainArea {
            height: 100%;
          }
        }
      }
    }
  }
}
