.Dashboard {
    
    .container-fluid {
        padding-left: 0;
        padding-right: 0;

        .sidebar {
            width: 60px;
        }

        .mainArea {
            margin-top: 100px;
            margin-left: 70px;

            .project-list {
                margin: 20px 100px 20px 100px;   
                background-color: #E7E7E7;

                .fa-arrow-down {
                    color: #B7B8B9;
                    margin-left: 20px;
                }

                h3 {
                    color: #B7B8B9;
                    margin-left: 20px;
                    line-height: 70px;
                    display: inline-block;
                }
            }

            
        }
    }

    .panel-group {
        margin-top: 20px;
    }
    
    .panel-group .panel {
        margin-bottom: 30px;
        margin-left: 100px;
        height: 130px;
        width: 200px;
        display: inline-block;
    }
    
    .panel-group .panel-default {
        width: 245px;
        height: 160px;
    }
    
    .panel-group .panel-header .project-title {
        display: inline-block;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 3px;
        margin-bottom: 8px;
    }
    
    .panel-group .panel-body {
        padding-top: 55px;
        padding-left: 0;
        padding-right: 5px;
        padding-bottom: 8px;
    }
    
    .panel-group .panel-footer {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 4px;
        padding-bottom: 0;
    }
    
    .panel-group .panel-footer .update-date {
        color: crimson;
        float: left;
        margin: 0;    
    }
    
    .panel-group .panel-footer .update-task {
        float: right;
        margin: 0;
    }
    
    .panel-group .panel-footer h6 {
        font-weight: bold;
        margin: 0;
    }
    
    .btn-group {
        padding-left: 0;
    }
    
    .fa-cog {
        float: right;
    }
    
    .progress {
        width: 243px;
        margin-bottom: 0;
        border-radius: 4px;
    }
    
    .panel-group .new-project-body {
        padding-top: 62px;
        padding-left: 108px;
    }
    
    .panel-group .new-project-footer {
        padding-left: 60px;
        padding-right: 67px;
        padding-top: 0;
    }
    
    .panel-group .new-project-footer h6 {
        text-align: center;
        font-weight: bold;
    }
}
    






