.Dashboard {
    
    .container-fluid {
        padding-left: 0;
        padding-right: 0;

        .sidebar {
            width: 60px;
        }

        .mainArea {
            margin-top: 100px;
            margin-left: 70px;

            .project-list {
                margin: 20px 100px 20px 100px;   
                background-color: #E7E7E7;
                opacity: 0.8;

                .fa-arrow-down {
                    color: #B7B8B9;
                    margin-left: 20px;
                }

                .fa-arrow-right {
                    color: #B7B8B9;
                    margin-left: 20px;
                }

                h3 {
                    color: #B7B8B9;
                    margin-left: 20px;
                    line-height: 70px;
                    display: inline-block;
                }
            }

            .project-list:hover {
                background-color: #8798A8;
                cursor: pointer;
            }
        }
    }

    .panel-group {
        margin-top: 20px;
    }
    
    .panel-group .panel {
        margin-bottom: 30px;
        margin-left: 100px;
        height: 130px;
        width: 200px;
        display: inline-block;
    }
    
    .panel-group .panel-default {
        width: 245px;
        height: 160px;
        border: 0;

    }

    .projects:hover {
        transition: 0.5s ease-in-out transform;
        transform: scale(1.1);
		transform-origin: center center;
        cursor: pointer;
    }
    
    .panel-group .panel-header .project-title {
        display: inline-block;
        color: black;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 3px;
        margin-bottom: 8px;
    }
    
    .panel-group .panel-body {
        padding-top: 55px;
        padding-left: 0;
        padding-right: 5px;
        padding-bottom: 8px;
    }
    
    .panel-group .panel-footer {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 4px;
        padding-bottom: 0;
    }
    
    .panel-group .panel-footer .update-date {
        color: crimson;
        float: left;
        margin: 0;    
    }
    
    .panel-group .panel-footer .update-task {
        float: right;
        margin: 0;
        color: black;
    }
    
    .panel-group .panel-footer h6 {
        font-weight: bold;
        margin: 0;
    }
    
    .btn-group {
        padding-left: 0;
    }
    
    .fa-cog {
        float: right;
        color: black;
    }
    
    .progress {
        width: 243px;
        margin-bottom: 0;
        border-radius: 4px;
    }

    .panel-group .new-project {
        cursor:pointer;
    }

    .panel-group .new-project:hover {
        background-color: #76AFE4;
        color: #FFFFFF;
    }
    
    .panel-group .new-project-body {
        padding-top: 62px;
        padding-left: 10px;
        text-align: center;
    }
    
    .panel-group .new-project-body .new-project-name {
        
        font-weight: bold;
    }

    .modal-content {
        
        .add-project-header {
            text-align: center;

            .add-project-title {
                font-weight: bold;
            }
        }

        .add-project-body {
            padding-left: 10px;
            margin-bottom: 85px;
            
            .modal-body-title {
                margin-top: 6px;
            }
        
            .modal-body-description {
                margin-top: 6px;
            }
            
            .add-project-member-list {
                margin-top: 6px;
                
                .add-project-member-plus {
                    float: left;
                   
                    .add-project-member-button {
                        color: white;
                        background-color: #8798A8;
                    }
                }  
                
                .add-project-member-profile {
                    margin-left: 40px;

                    .join-project-member {
                        margin-left: 10px;
                        display: inline-block;
                        background-color: #f0d7d2;
                        padding-left: 5px;
                        padding-right: 5px;
                        padding-top: 5px;
                        border-radius: 4px;

                        .join-project-member-close {
                            display: inline-block;
                            cursor: pointer;
                            margin-bottom: 5px;    
                        }
                    }
                }
            }
        }

        .add-project-footer {            
            
            #add-project-submit {
                margin: 0;
                width: 100px;
                height: 50px;
                color: #FFFFFF;
                background-color: #8798A8;
            }
        }
    }
}
    






