.Dashboard {
    height: 100%;

    .container-fluid {
        padding-left: 0;
        padding-right: 0;
        height: 100%;

        .sidebar {
            width: 60px;
        }

        .mainArea {
            margin-top: 50px;
            margin-left: 62px;
            padding-top: 70px;
            height: calc(100% - 50px);
            background-size: 100% 100%;
            
            .project-list {
                margin: 20px 100px 20px 100px;   
                background-color: #E7E7E7;
                opacity: 0.8;

                .fa-arrow-down {
                    color: #B7B8B9;
                    margin-left: 20px;
                }

                .fa-arrow-right {
                    color: #B7B8B9;
                    margin-left: 20px;
                }

                h3 {
                    color: #B7B8B9;
                    margin-left: 20px;
                    line-height: 70px;
                    display: inline-block;
                }
            }

            .project-list:hover {
                background-color: #8798A8;
                cursor: pointer;
            }
        }
    }

    .panel-group {
        margin-top: 20px;
    }
    
    .panel-group .panel {
        margin-bottom: 30px;
        margin-left: 100px;
        height: 130px;
        width: 200px;
        display: inline-block;
    }
    
    .panel-group .panel-default {
        width: 245px;
        height: 160px;
        border: 0;

    }

    .projects:hover {
        transition: 0.5s ease-in-out transform;
        transform: scale(1.1);
		transform-origin: center center;
        cursor: pointer;
    }
    
    .panel-group .panel-header .project-title {
        display: inline-block;
        color: black;
        font-weight: bold;
        margin-top: 5px;
        margin-left: 3px;
        margin-bottom: 8px;
    }
    
    .panel-group .panel-body {
        padding-top: 62px;
        padding-left: 0;
        padding-right: 10px;
        padding-bottom: 8px;

        .project-state {
            padding-right: 1px;
            border-right: 0px;
        }

        .project-state-change {
                
            padding-left: 0;
            padding-right: 2px;
            border-left: 0px;

            .caret {
                visibility: hidden;
            }
                
        }
        .project-state-change:hover {
                
            .caret {
                visibility: visible;
            }
        }

        .fa-cog {
            visibility: hidden;
        }
    }

    .panel-group:hover {
        .fa-cog {
            visibility: visible;
        }
    }

    .panel-group .panel-footer {
        padding-top: 1px;
        padding-left: 0;
        padding-right: 4px;
        padding-bottom: 0;
    }
    
    .panel-group .panel-footer .update-date {
        color: crimson;
        float: left;
        margin: 0;    
    }
    
    .panel-group .panel-footer .update-task {
        float: right;
        margin: 0;
        color: black;
    }
    
    .panel-group .panel-footer h6 {
        font-weight: bold;
        margin: 0;
    }
    
    .btn-group {
        padding-left: 0;
    }
    
    .fa-cog {
        float: right;
        color: #808080;
    }
    
    .progress {
        width: 243px;
        margin-bottom: 0;
        border-radius: 4px;
    }

    .panel-group .new-project {
        cursor:pointer;
    }

    .panel-group .new-project:hover {
        background-color: #76AFE4;
        color: #FFFFFF;
    }
    
    .panel-group .new-project-body {
        padding-top: 62px;
        padding-left: 10px;
        text-align: center;
    }
    
    .panel-group .new-project-body .new-project-name {
        
        font-weight: bold;
    }

    .modal-content {
        
        .add-project-header {
            text-align: center;

            .add-project-title {
                font-weight: bold;
            }
        }

        .add-project-body {
            padding-left: 10px;
            margin-bottom: 85px;
            
            .modal-body-title {
                margin-top: 6px;
            }
        
            .modal-body-description {
                margin-top: 6px;
            }
            
            .add-project-member-list {
                margin-top: 6px;
                
                .add-project-member-plus {
                    float: left;
                   
                    .add-project-member-button {
                        color: white;
                        background-color: #8798A8;
                    }
                }  
                
                .add-project-member-profile {
                    margin-left: 40px;

                    .join-project-member {
                        margin-left: 10px;
                        display: inline-block;
                        background-color: #f0d7d2;
                        padding-left: 5px;
                        padding-right: 5px;
                        padding-top: 5px;
                        border-radius: 4px;

                        .join-project-member-close {
                            display: inline-block;
                            cursor: pointer;
                            margin-bottom: 5px;    
                        }
                    }
                }
            }
        }

        .add-project-footer {            
            
            #add-project-submit {
                margin: 0;
                width: 100px;
                height: 50px;
                color: #FFFFFF;
                background-color: #8798A8;
            }
        }
    }

    .project-setting-dialog {
        .come-from-modal.left .modal-dialog,
        .come-from-modal.right .modal-dialog {
            position: fixed;
            margin: auto;
            width: 320px;
            height: 100%;
            -webkit-transform: translate3d(0%, 0, 0);
            -ms-transform: translate3d(0%, 0, 0);
            -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
        }

        .come-from-modal.left .modal-content,
        .come-from-modal.right .modal-content {
            height: 100%;
            overflow-y: auto;
            border-radius: 0px;
        }

        .come-from-modal.left .modal-body,
        .come-from-modal.right .modal-body {
            padding: 15px 15px 80px;
        }
        .come-from-modal.right.fade .modal-dialog {
            right: -320px;
            -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
            -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
            -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
        }

        .come-from-modal.right.fade.in .modal-dialog {
            right: 0;
        }
    }
}
    






