.App{
	height: 100%;
}
#root {
	height: 100%;
}
.Errors {
	height: 100%;
	text-align: center;
	&:before {
		content: "";
		display: inline-block;
		width: 1px;
		height: 100%;
		margin-right: 0;
		vertical-align: middle;
	}
}
.ErrorsBox {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	padding: 20px;
	border: 2px solid #666;
	border-radius: 10px;
	background-color: #e7e7e7;
}
Button.loginButtons {
	width: 200px;
	font-size: 12pt;
}
#ErrorsText {
	color: #000;
	font-size: 17pt;
	font-weight: bold;
}