.Comment{
    box-shadow: 0 -1px 6px 1px rgba(0,0,0,0.1);
    background-color: silver;
}
.CommentList{
    .media{
        img{
            max-width: 50px;
        }

        .media-body{
            span{
                margin: 1%;
            }
            p{
                text-align:justify;
            }
        }
    }
}