@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

.navigation {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: #8798A8;
	border-right: 1px solid #8798A8;
	flex-direction: column;
	justify-content: center;
	transition: 0.2s ease-in-out left;
	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
	z-index: 1;
	border: 0;
	
	.nav-list {
		text-align: center;
		list-style: none;
		margin-top: -14px;
		
		.nav-item {
			padding: 11px 0;
			transition: 0.1s ease-in-out transform;
			color: #fff;
			text-decoration: none;
			cursor: pointer;

				.nav-item-profile {
					display: block;
					width: 63px;
					height: 59px;
					border-radius: 50px;
				}

				#nest-logo {
					color: darkgray;
					width: 47px;
					height: 63px;
				}

				.icon {
					font-size: 1.5em;
					margin-bottom: 5px;
					color: #fff;
					text-shadow: 3px 0 6px rgba(0, 0, 0, 0.1);
				}

				.label {
					font-size: 0.6em;
					font-weight: 300;
					opacity: 0;
					transition: 0.2s ease-in-out opacity;
					color: #fff;
				}
		}
		
		.nav-item:nth-child(1) {
			margin-top: 5px;
		}

		.nav-item:nth-child(2):hover {
			transform: translate(5px, 5px);
		}
		.nav-item:hover {
			transform: scale(1.4);
			transform-origin: center center;
			.label {
				opacity: 1;
			}
		}
	}
}





