.task {
  .task-title {
    .point {
        .fa-circle{
            color:#f6b6b4;
        }
      }
    .title {
      .doneCheck {
        vertical-align: -2px;
        margin: 0;
        
      }
    }
  }

}
