.taskCategory {
  margin: 10px;
  width: 300px;

  .panel-primary {

    border-color: #f0d7d2;
  }
  .panel-heading {
    background-color: #f0d7d2;
    border-color: #f0d7d2;
    color:#6A7074;
  }

  .panel {
    margin-bottom: 3px;
  }
}
