.Navigation{
    background-color: white;
    margin-top: 16px;
    padding-left: 36px;
    .nav-tabs {
        a:hover{
            height: 43px;
        }
    }
    .nav-link{
        font-size: 1.5rem;
        color:black;
    }
}