.SettingFile{
    position: fixed;
    right: 0;
    z-index: 999;
    margin-top: -49px;
    height: calc(100% - 215px);
    .File {
        width:632px;
        background-color: #F3F4F5;
        float:right;
        margin-top: 31px;
        clear:both;
        box-shadow: -60px -50px 50px -90px #000000,
    60px 0px 50px -90px #000000;
        hr{
            border: 0.5px solid #DFDFDF;
        }
        .FileMenu{
            align-items: center;
            .disabled-submit-button {
                border: none;
                padding: 5px 12px;
                margin-top: 11px;
                background: #CCCCCC;
                color: #fff;
                font-size: 1em;
                transition: all .4s;
                cursor: pointer;
                border-radius: 3px;
            }
            input[type="file"]::-webkit-file-upload-button {
                border: none;
                padding: 5px 12px;
                margin-top: 11px;
                background: #27B6BA;
                color: #fff;
                font-size: 1em;
                transition: all .4s;
                cursor: pointer;
                border-radius: 3px;
            }

            .input-group{
                position: none;
                .form-control {
                    width: 513px;
                    border-radius: 5px;
                }
            }
            .btn .btn-info{
                color: black;
                margin: 8px 0px;
            }
    
            .navbar-form .navbar-left{
                .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    width: 120px;
                }
            }
        }
    
        table td { 
            width:200px; 
        }
    
        table { 
            margin:10px;
        }
    }
    
    .FileList{
        overflow: auto;
        .FileList-tr{
            border-radius: 5px;
            td{
                padding-left: 10px;
            }
        }
        table tr{
            height: 55px;
            vertical-align: middle;
            background-color: white;
            button{
                background: none;
                border: none;
                margin-top: 37%;
            }
    
            li button:hover, li button:hover i{
                background: rgb(31,31,31);
                color:#FFFFFF;
                text-decoration:none;
            }
    
            li ul{
                background: white;
                display:none; 
                height:auto;
                border:0px;
                border-radius: 2px;
                position:absolute;
                width:100px;
                z-index:200;
                right: 30px;
            }
    
            li, ul li{
                list-style: none;
                margin:5%;
                a{
                    color: black;
                    text-decoration: none;
                }
            }
    
            li:hover ul{
                display: block;
            }
        }
    }
}