.panel-group{
    form {
        div{
            padding: 0.5% 0%;
        }

        input{
            margin-top: 5px;
            border:1px solid #CBCBCB;
            border-radius: 3px;
            width:250px;
            height:25px;
        }
    }
}

.Profile{
    .profileLayout{
        .profileSet{
            .PasswordSet {
                margin: -2% 0.5%;
                border:1px solid #CBCBCB;
                border-radius: 7px;
                padding:2%;
                .password{
                    vertical-align: middle;
                    span{
                        display:inline-block;
                    }
                    div{
                        float:right;
                    }
                }

                #form{
                    display: none;
                }
                div{
                    padding: 0.5% 0%;
                }

                input{
                    margin-top: 5px;
                    border:1px solid #CBCBCB;
                    border-radius: 3px;
                    width:250px;
                    height:25px;
                }
            }
        }
    }
}