.Profile {
    align-items: left;
    display:inline-block;
    margin: 0px 100px;
    .profileLayout{
        text-align: left;
        display:inline-block;
        width:800px;
        background: #FFFFFF;
        border: 9px solid #D0D0D0;
        height:625px; 
        padding-top: 20px;

        .profileImg{
            display: inline-block;
            margin-left: 20px;
            width:90px;
            height:100px;
            margin-left:12%;
            margin-top:1%;
            .img-circle { 
                border-radius: 50%; 
                width: 100%; 
                height:80%; 
                display: block; 
            }

            button {
                text-align: left;
                border:none;
                background: none;
                width:150px;
                margin-left: -15%;
                margin-top: 15%;
                .icon-camera { 
                    vertical-align: middle;
                }
            }
        }

        .profileInput{
            margin-left: 80px;
            flex-grow: 1; 
            flex-shrink: 1;
            display: inline-block; 
            position: absolute;
            
            input {
                margin-top: 10px; 
                margin-bottom: 10px; 
                width:300px; 
                height: 40px; 
                border: 2px solid darkgrey; 
                border-radius: 10px; 
                padding-left: 10px;
                &:hover{
                    border: 2px solid black; 
                }
            }
            .profileMenu{
                margin-top: 10px; 
                font-size: 1.25rem;
            }

            .profileSave {
                float: right;
                #profileButton { 
                    align-items: center;
                    background: #E3E3E3; 
                    border-radius: 3px; 
                    border:none;
                    outline:none;
                    margin-top: 10%;
                    font-size: 1.25rem; 
                    font-weight: bold;
                    color:#4D4D4D;
                    height:40px; 
                    width:100px;
                }
            }
        }
    }
}