/* @font-face { 
    font-family: 'BMDOHYEON'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
} */


.ProjectSet{
    float: right;
    background-color: #F3F4F5;
    width: 632px;
    height: calc(100% - 120px);
    box-shadow: -60px -50px 50px -90px #000000,
                60px 0px 50px -90px #000000;
    right:0px;
    top:220px;
    overflow-x: hidden;
    hr{
        margin:0px;
    }
    .setList {
        ul{
            li{
                margin:10% 0 5% 5%;
                list-style: none;
                .Member-list{
                    width:300px;
                    
                    .Member{
                        border:none;
                        border-radius: 5px;
                        background-color: #E6E8EC;
                        margin: 0 2% 2%;
                        padding:1%;
                        width:auto;
                        display: inline-block;
                        cursor: pointer;

                        img{
                            width:29px;
                            height: 29px;
                            margin-right: 4px;
                        }
                        span{
                            padding-top: 1%;  
                        }

                        .delete-member {
                            margin-left: 5px;
                            cursor: pointer;

                            .fa-times {
                                color: grey;
                            }
                        }
                    }

                    .Member:hover{
                        border:none;
                        border-radius: 5px;
                        background-color: #D7D7D7;
                        margin: 0 2% 2%;
                        padding:1%;
                        width:auto;
                        img{
                            width:29px;
                            height: 29px;
                            margin-right: 4px;
                        }
                        span{
                            padding-top: 1%;
                            
                        }
                    }
                }
                div{
                    button{
                        background:none;
                    }
                    h5{
                        width: 120px;
                    }
                }
                .link button{
                    margin-left:5%;
                    background-color: #E6E8EC;
                    color: #828282;
                    border-radius: 3px;
                    padding:3%;
                    width:150px;
                }
                
            }
        }
    }
}

.Important{
    .imp-select { 
        width: 50; 
        height: 20px;
        font-size: 1.25rem;
        border-radius: 0.5rem;
    }
}

