.TransferText02 {
    
    .transfer {

        img {
            width:40px;
            height: 40px;
            border-radius: 50px;
            margin:2%;
        }
        .img-authUser {
            margin-right: 20px;
            object-fit: cover;
        }

        .img-roleUser {
            cursor: pointer;

            width: 55px;
        }
        
    }
}