
.SendMail {
	height: 100%;
	text-align: center;
	&:before {
		content: "";
		display: inline-block;
		width: 1px;
		height: 100%;
		margin-right: 0;
		vertical-align: middle;
	}
}
.SendMailBox {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	padding: 20px;
	border: 2px solid #666;
	border-radius: 10px;
	background-color: #e7e7e7;

	#SendMailText {
		color: #000;
		font-size: 17pt;
		font-weight: bold;
	}

	#MainBtn {
		width: 200px;
		font-size: 12pt;
	}

}