.Range {
  z-index: 1;
  position: absolute;
  left: 170px;
  top: 0px;
  background-color: white;
  width: 550px;
  height: 400px;
  box-shadow: 0 3px 10px rgba(85, 71, 71, 0.5);
  .calendar {
    .calendar-header {
      .confirm {
        float: right;
        border-color: white;
        background-color: rgb(182, 182, 182);
        padding: 1px 7px 1px 7px;
        height: 30px;
        margin: 5px 15px 0px 10px;
        &:hover {
          background-color: rgb(128, 128, 128);
        }
      }
      h6 {
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
      }
      .close {
        line-height: 35px;
      }
      hr {
        margin-top: 5px;
        margin-bottom: 5px;
        border-color: #e3e3e3;
      }
      .text {
        display: inline-flex;
        width: 100%;
        margin: 0px;
        div {
          width: 100%;
          text-align: center;
          margin: 0px;
        }
      }
    }
    .calendar-body {
      display: inline-flex;
      width: 100%;
      margin: 0px;


      .dateChoose {
        width: 100%;
        margin: 0px;
        .rdtPicker {
          right: -3px;
          border: 1px solid lightgray;
          .rdtCounters{
            width: 135px;
          }
        }
      }
      .form-control {
        text-align: center;
      }
    }
  }
}
