
.SignUp {
	height: 100%;
	text-align: center;
	&:before {
		content: "";
		display: inline-block;
		width: 1px;
		height: 100%;
		margin-right: 0;
		vertical-align: middle;
	}

	.SignUpBox {
		display: inline-block;
		vertical-align: middle;
		width: 300px;
		padding: 20px;
		border: 2px solid #666;
		border-radius: 10px;
		background-color: #e7e7e7;
	
		#signUpText {
			color: #000;
			font-size: 14pt;
			font-weight: bold;
		}
	
		form .SignUpItems {
			height: 42px;
			font-size: 12pt;
		}

		#errorText {
			font-size: 12pt;
			color: #ff0000;
		}

		#doneText {
			font-size: 12pt;
			color: #007800;
		}

		#Btn{
			width: 200px;
			font-size: 12pt;
		}
	
	}

}